<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yunjian">
    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 摄像头调用权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MineListActivity"></activity>
        <activity android:name=".XunjianItemActivity" />
        <activity android:name=".First_NotificationActivity" />
        <activity android:name=".First_ResourceActivity" />
        <activity android:name=".First_LogInfomationActivity" />
        <activity android:name=".First_XunjianActivity" />
        <activity
            android:name=".LunchActivity"
            android:theme="@style/LunchStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Mine_Activity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>